# Ignorer le fichier .env
.env
# Ignorer les répertoires
__pycache__/
doc/
fichier/

# Ignorer les fichiers spécifiques
*.docx
*.db
*.txt

# Ignorer les notebooks Jupyter
*.ipynb

# Ignorer les fichiers Python spécifiques
*.pyc
__pycache__/

# Ne pas ignorer ce fichier .gitignore lui-même
!.gitignore
