firebase==4.0.0
firebase-admin==6.6.0
json5==0.10.0
numpy==1.25.0
pandas==2.1.0
parso==0.8.4
python-dotenv==1.0.1
python-json-logger==3.2.1
stack-data==0.6.3
streamlit==1.41.1
altair==5.5.0
anyio==4.0.0
gdown==5.2.0
google-api-python-client==2.90.0
google-auth==2.23.0
grpcio==1.57.0
requests==2.31.0
pymongo==4.10.1
